:root {
  --main-font-family: "Inter-Variable", "Arial", sans-serif;
  --accent-font-family: "PressStart2P", "Courier New", monospace;

  --main-font-weight: 410;
  --title-font-weight: 715;

  --bg-gradient:
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --logo-card-height: clamp(18.75rem, 13.3929rem + 22.8571vw, 23rem);
  --header-padding: 6.25rem;

  --logo-main-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --logo-subtitle-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

  --card-padding: 1.5625rem;
  --card-margin: 3.125rem;

  --card-bg-color: #fff;
  --card-border: 2px solid #000;
  --text-stroke-color: #fff;

  --accent-color: #000000;

  --contour-color: #000000;
  --animation-fill-color: #ff0000;
}
